@model List<HomeConcertViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3 mb-2" style="margin-top:5rem;">
            <div class="card" >
                <img src="@item.ConcertImage" class="card-img-top" alt="Card Image Cap" width="550" height="230">
                <div class="card-body">
                    <h5 class="card-title">@item.ConcertName</h5>
                    <h5 class="card-title">@item.ArtistName</h5>
                    <p class="card-text">@item.Description</p>
                    <a asp-action="Details" asp-route-id="@item.ConcertId" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
    }
</div>




